
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Resume - S.Manikandan </title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Resume S Manikandan, Manikandan Shenbagaraj">
    <meta name="author" content="Manikandan Shenbagaraj">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="/static/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <!-- <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="/static/styles.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-102227943-1', 'auto');
      ga('send', 'pageview');

    </script>


</head>

<body>

    <header class="header">
        <div class="top-bar container-fluid">
            <div class="actions">
                <a class="btn" href="/download"><i class="fa fa-download" aria-hidden="true"></i> Download My Resume</a>
                <a class="btn" href="/download?type=one_page"><i class="fa fa-download" aria-hidden="true"></i> Download Single Page Resume</a>
            </div><!--//actions-->
            <ul class="social list-inline">
                <li><a href="https://www.linkedin.com/in/manikandan-shenbagaraj-20b18655/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="https://bitbucket.org/smani6"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
                <li><a href="skype:smanimit"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                <li><a href="mailto:smanikandanmit@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
            </ul><!--//social-->
        </div><!--//top-bar-->

        <div class="intro">
            <div class="container text-center">
                <img class="profile-image" src="/static/assets/images/profile-image.png" alt="">
                <h1 class="name">Manikandan Shenbagaraj</h1>
                <div class="title">Senior Software Engineer</div>
                <div class="profile">
                    <p>Software engineer with 3+ years of strong industrial experience building full stack products from scratch. Rapidly design and integrates reliable and effective Web technologies resulting in flexible and lightweight software architecture design. Strong theoretical and practical experience and a proven track record of successfully analyzing, decomposing, and solving difficult programming problems.</p>

                    <p> Experience in developing entire product from scratch used by millions of people around the world.</p>
                </div><!--//profile-->
            </div><!--//container-->
        </div><!--//intro-->

    </header><!--//header-->

    <div class="wrapper container">
        <section id="experiences-section" class="experiences-section section">
            <h2 class="section-title">Work Experiences</h2>
            <div class="timeline">
                <div class="item">
                    <div class="work-place">
                        <h3 class="place">Gametop</h3>
                        <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Singapore</div>
                    </div>
                    <div class="job-meta">
                        <div class="title">Senior Software Engineer</div>
                        <div class="time">Jan 2017 - Present</div>
                    </div><!--//job-meta-->
                    <div class="job-desc">
                        <p>Working as a Senior Softwar Engineer with core responsibility of owning the entire software of the company working closely with CEO to design and develop the entire platform.</p>
                        <ul>
                            <li>
                                Joined the startup from a big corporation background to own and develop the entire platform of the company.
                            </li>
                            <li>As a startup with just 3 members we are able to serve over 5 million monthly active users with 1 million pageview per day</li>

                            <li> Hosted our entire platform in Google Cloud infrastructure to deliver high performance without any downtime </li>

                            <li> Optimised backend infrastructure code within a short period of time and reduced the server cost approximately by 75%</li>

                            <li>
                                Implemented various new features and recommendations based on user preferences.
                            </li>

                            <li>
                                Also learning and analysising the data part and providing various insights to the CEO to modify the deliverability.
                            </li>

                        </ul>
                    </div><!--//job-desc-->
                </div><!--//item-->

                <div class="item">
                    <div class="work-place">
                        <h3 class="place">Global Analytics (www.lendingstream.co.uk) </h3>
                        <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>India</div>
                    </div>
                    <div class="job-meta">
                        <div class="title">Senior Software Engineer</div>
                        <div class="time">March 2015 - Jan 2017</div>
                    </div><!--//job-meta-->
                    <div class="job-desc">
                        <p>Part of core team of the company, developed the entire product from scratch with completely new architecture and innovative ideas</p>

                        <ul>
                            <li>As part of new initiative to design and develop the product from scratch , interacted closely with business and product team to gather the detailed requirement and prepare the Function design of the product with a high level architecture.</li>
                            <li>Developed Restful Web service of entire customer account and profile management.
                            Backend for Entire customer account section. Worked on various Rule sets to customize and dynamically produce various contents to customers based on their details, states and their previous history.</li>
                            <li>Implemented core of our product - communication engine - by which all emails, post, sms will be delivered to customers. Integrated with Salesforce for email and sms triggers.</li>
                            <li>Rated as best and active developer of the software team of the company.</li>
                        </ul>

                    </div><!--//job-desc-->
                </div><!--//item-->

                <div class="item">
                    <div class="work-place">
                        <h3 class="place">INautix (Bank of New York Mellon)</h3>
                        <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>India</div>
                    </div>
                    <div class="job-meta">
                        <div class="title">Application Developer </div>
                        <div class="time">June 2013 - Feb 2015</div>
                    </div><!--//job-meta-->
                    <div class="job-desc">
                        <p>
                            Worked as an Application developer in core banking software team - award with best developer in contributing to company's biggest project association with Barclays and CITI Bank.
                        </p>
                        <ul>
                            <li>As a fresher having shown very good performance in training - I was allocated to the core banking software team of the company <</li>
                            <li>Understanding the new Business requirement criteria proposed and implemented a new business logic on the login page of NetX360 product.</li>
                            <li>Implemented whole new full working module for Barclays and CITI banks association with Bank of New York Mellon.</li>
                            <li>Created a new framework and application for automated testing of our entire application using Selenium</li>
                            <li>Rated as best innovative idea , proposed new logics to test our entire application (consisting of 4 huge modules) before our code gets tested by Quality Analyst team.</li>
                        </ul>
                    </div><!--//job-desc-->
                </div><!--//item-->
            </div><!--//timeline-->

        </section><!--//section-->

        <section id="education-section" class="education-section section">
            <h2 class="section-title">Education</h2>
            <div class="row">

                <div class="item col-xs-12">
                    <div class="col-xs-12 col-md-5 col-md-offset-1">
                        <h3 class="degree">B.E - E.C.E</h3>
                        <div class="education-body">
                            MIT - Anna University
                        </div><!--//education-body-->
                        <div class="time">2009 - 2013</div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        CGPA - 8.75 / 10 ( First Class with DISTINCTION)
                    </div>
                </div>
            </div><!--//row-->
        </section><!--//section-->


        <section id="skills-section" class="skills-section section ">
            <h2 class="section-title">Professional Skills</h2>

            <div class="other-skills">
                <div class="row">
                    <div class="col-xs-12 col-md-2 col-md-offset-1 skill-type"><h4>Languages</h4></div>
                    <div class="col-xs-12 col-md-9 skill-sets">Python, Java, C, C++, JavaScript,Matlab</div>
                </div>
                 <div class="row">
                        <div class="col-xs-12 col-md-2 col-md-offset-1 skill-type"><h4>Frameworks</h4></div>
                        <div class="col-xs-12 col-md-9 skill-sets">Flask, Django, AngularJS, Bootstrap, Foundation</div>
                </div>
                <div class="row">
                        <div class="col-xs-12 col-md-2 col-md-offset-1 skill-type"><h4>Platforms</h4></div>
                        <div class="col-xs-12 col-md-9 skill-sets">Google Cloud Infrastructure, AWS, Heroku</div>
                </div>
                <div class="row">
                        <div class="col-xs-12 col-md-2 col-md-offset-1 skill-type"><h4>Storage</h4></div>
                        <div class="col-xs-12 col-md-9 skill-sets">MySQL, NoSQL(DataStore)</div>
                </div>
                <div class="row">
                        <div class="col-xs-12 col-md-2 col-md-offset-1 skill-type"><h4>Libraries / API's</h4></div>
                       <div class="col-xs-12 col-md-9 skill-sets">JSON, REST API, RabbitMQ, jQuery </div>
                </div>
                <div class="row">
                        <div class="col-xs-12 col-md-2 col-md-offset-1 skill-type"><h4>Tools</h4></div>
                        <div class="col-xs-12 col-md-9 skill-sets">Git, Docker, Virtualenv, Github, Pycharm, Eclipse, Sublime</div>
                </div>
                <div class="row">
                        <div class="col-xs-12 col-md-2 col-md-offset-1 skill-type"><h4>Paradigms</h4></div>
                        <div class="col-xs-12 col-md-9 skill-sets">Object-oriented Programmings(OOPS), Test-driven Development (TDD), Agile Software Development, Unit Testing, Continuous Integration, Event-driven Programming</div>
                </div>
                <div class="row">
                        <div class="col-xs-12 col-md-2 col-md-offset-1 skill-type"><h4>Misc</h4></div>
                        <div class="col-xs-12 col-md-9 skill-sets">Apache, Nginx, Gunicorn</div>
                </div>

            </div><!--//other-skills-->

        </section><!--//skills-section-->


        <section class="section">
            <h2 class="section-title"> Contact - Get In Touch</h2>
            <div class="row contact-section">
                <div class="col-xs-12 col-md-8 col-md-offset-4">
                <div class="contact-block wow fadeInLeft">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <p><b>Address: </b> Block 560, Ang Mo kio, Singapore </p>
                </div>
                <div class="contact-block wow fadeInLeft">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <p><b>Phone: </b> +65 82437530</p>
                </div>
                <div class="contact-block wow fadeInLeft">
                    <i class="fa fa-whatsapp" aria-hidden="true"></i>
                    <p><b>Whatsapp: </b> +91 9566171574</p>
                </div>
                <div class="contact-block wow fadeInLeft">
                    <i class="fa fa-skype" aria-hidden="true"></i>
                    <p><b>Skype: </b> smanimit</p>
                </div>
                <div class="contact-block wow fadeInLeft">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <p><b>Email: </b> <a href="mailto:smanikandanmit@gmail.com">smanikandanmit@gmail.com</a></p>
                </div>
                <div class="contact-block wow fadeInLeft">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <p><b>Website </b> <a href="#">http://www.smanikandan.com</a></p>
                </div>

            </div>
            </div>



        </section>




    </div><!--//wrapper-->


    <!-- Javascript -->
    <script type="text/javascript" src="/static/assets/plugins/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="/static/assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>


    <!-- custom js -->
    <script type="text/javascript" src="/static/assets/js/main.js"></script>
    


</body>
</html> 

